<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th>Interessado</th>
      <th>Arquivo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.interessado_id %></td>
        <td><%= cart.arquivo %></td>
 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Cart', new_interessado_cart_path %>

